*.zip
leipzig1M.txt
*.classpath
*.idea/
*.project
"2\321\201\320\261_\320\277\321\200\320\276\320\264\320\276\320\262\320\266_2.docx"
MyFilename.odt
Sunday.jpeg
aTaleOfTwoCities.txt
alglorithms2.eml
alglorithms2.iml
algs4.jar
*odfdom-java-0.9.0-jar-with-dependencies.jar
out/
output.odt
result.odt
result1.odt
result2.odt
result_0_.html
result_1_.html
result_2_.html
source.html
source2.html
tale.txt
target/